<header id="header">
    <div class="container">
        <div class="row header-menu">
            <img class="header-logo" src="img/ett@2x.png" width="40" alt="">
            <input id="burger" type="checkbox" />
            <label for="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="header-txt">
                <div class="header-txt-l">
                    Mardi<br>
                    13 Nov
                </div>
                <div class="header-txt-r">
                    St Brice
                </div>
            </div>
            <nav class="main-menu">
                <ul>
                    <li><a href="home.html">ACCUEIL</a></li>
                    <li><a href="news.html">ACUTALITES / NEWS</a></li>
                    <li><a href="collaborators.html">COLLABORATEURS</a></li>
                    <li><a href="suppliers.html">FOURNISSEURS</a></li>
                    <li><a href="reservations.html">RESERVATION</a></li>
                    <li><a href="notes.html">NOTES DE SERVICE</a></li>
                    <li><a href="base-docs.html">BASE DOCUMENTAIRE</a></li>
                    <li><a href="refs.html">REFERENCES</a></li>
                </ul>
                <a href="index.html" class="sign-out">Déconnexion</a>
            </nav>
        </div>
    </div>
</header>