@mixin min($size) {
  @media screen and (min-width: $size+px) {
    @content;
  }
}
@mixin between($size1, $size2) {
  @media screen and (min-width: $size1+px) and (max-width: $size2+px) {
    @content;
  }
}
@mixin max($size) {
  @media screen and (max-width: $size+px) {
    @content;
  }
}

@mixin clearfix {
  &::after {
    content: " ";
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
  }
}

// example: @include retina("logo2x.png", 100, 50);
@mixin retina($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: url("#{$image}");
    background-size: $width + px $height + px;
    //background-size: $width / 10 + rem $height / 10 + rem; // Use this if you've set HTML font size value to 62.5%
    background-size: $width / 16 + rem $height / 16 + rem;
  }
}

// example: @include box-shadow(1px, 2px, 2px, 2px, #000, inset);
@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $size $color;
    -moz-box-shadow:inset $top $left $blur $size $color;
    box-shadow:inset $top $left $blur $size $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $size $color;
    -moz-box-shadow: $top $left $blur $size $color;
    box-shadow: $top $left $blur $size $color;
  }
}

@mixin gradient($aside,$aside-invert,$color1,$color2) {
  background: -moz-linear-gradient($aside, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient($aside, $color1 0%,$color2 100%);
  background: -o-linear-gradient($aside, $color1 0%,$color2 100%);
  background: -ms-linear-gradient($aside, $color1 0%,$color2 100%);
  background: linear-gradient(to $aside-invert, $color1 0%,$color2 100%);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// example: @include placeholder-color(#333);
@mixin placeholder-color($color) {
  &.placeholder {
    color: $color
  }
  &:-moz-placeholder {
    color: $color
  }
  &::-webkit-input-placeholder {
    color: $color
  }
  &:-ms-input-placeholder {
    color: $color
  }
}