//sudo gem install sass
//sass --watch assets/css/style.scss:assets/css/style.css

$fa-font-path: "../fonts/fontawesome" !default;
@import "https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css";
@import "fonts";
@import "mixins";

/*PLUGINS*/
/*bootstrap*/
@import "plugins/bootsrap/bootstrap-reboot";
@import "plugins/bootsrap/bootstrap-grid.scss";
/*fontawesome*/
@import "plugins/fontawesome/variables";
@import "plugins/fontawesome/mixins";
@import "plugins/fontawesome/core";
@import "plugins/fontawesome/larger";
@import "plugins/fontawesome/icons";
@import "plugins/fontawesome/screen-reader";

/*CUSTOM VAR STYLES*/
@import "settings";
@import "my-default";

$black: #222;
$white: #fff;
$orange: #EE7D11;
$grey: #707070;

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  color: $black;
}

:focus {
  outline: 0 !important;
}

body {
  font-family: 'Roboto', Arial;
  font-size: 14px;
  background-color: #F0F0F0;
  color: $grey;
}

@mixin shadow($prop) {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, $prop);
}

@mixin animation {
  transition: all .8s;
}

.warpper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  padding: 0 20px;


  .header-text {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 12px;

    &.big {
      font-size: 16px;
    }
  }

  .white-card {
    width: 100%;
    background: #fff;
    min-height: 20px;
    padding: 15px 25px;
    border-radius: 10px;

    .blank{
      height: 220px;
    }

    .photo-block {
      display: flex;
      justify-content: center;
      padding: 10px 0;
      border-bottom: 1px solid $grey;

      &:last-of-type {
        border: none;
      }

      .logo {
        width: 45px;
        height: 45px;
        border: 1px solid $grey;
        border-radius: 50%;
        margin-right: 20px;
      }

      .text-line-head {
        font-weight: 700;
      }
    }

    .onepost {
      .onepost-photo {
        width: 100%;
        height: auto;
      }

      .onepost-title {
        font-weight: 700;
        font-size: 14px;
        padding: 10px 0;
      }

      .onepost-subtitle {
        font-weight: 700;
        font-size: 14px;
      }

      .onepost-shorttxt {
        width: 60%;
        margin: 0 auto;
      }
    }

    .coll-cards {
      display: flex;
      flex-direction: row;

      .coll-cards-info {
        width: calc(100% - 50px);
        font-weight: bold;

        & p,
        & a {
          font-weight: bold;
          display: block;
          line-height: 16px;
          margin-bottom: 10px;
        }

        & p span {
          color: #A3A3A3;
        }

        & a.link-phone {
          display: inline-block;
        }
      }

      .coll-cards-buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;

        .coll-cards-buttons-remove,
        .coll-cards-buttons-edit {
          border-radius: 5px;
          border: none;
          width: 40px;
          height: 40px;
          font-size: 16px;
          @include animation;
          background: $white;
          text-transform: uppercase;
          margin: 0 5px;
          box-shadow: 0px 0px 20px 0 rgba($color: #000000, $alpha: .20);

          &:hover {
            box-shadow: 0px 0px 20px 0 $orange;
          }

          &:active {
            box-shadow: 0px 0px 20px 0 $orange;
            background-color: $orange;
          }
        }

        .coll-cards-buttons-remove {
          background: url(../img/button-remove@2x.png) center center no-repeat;
          background-size: 40%;
        }

        .coll-cards-buttons-edit {
          background: url(../img/button-edit@2x.png) center center no-repeat;
          background-size: 40%;
        }
      }
    }


    .notes-cards {
      display: flex;
      flex-direction: column;

      .notes-cards-info {

        & p,
        & a {
          font-weight: bold;
          display: block;
          line-height: 16px;
          margin-bottom: 10px;
          font-size: 10px;
          text-align: center;
        }

      }

      .notes-cards-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .notes-cards-buttons-download,
        .notes-cards-buttons-remove,
        .notes-cards-buttons-edit {
          border-radius: 5px;
          border: none;
          width: 40px;
          height: 40px;
          font-size: 16px;
          @include animation;
          background: $white;
          text-transform: uppercase;
          margin: 0 5px;
          box-shadow: 0px 0px 20px 0 rgba($color: #000000, $alpha: .20);

          &:hover {
            box-shadow: 0px 0px 20px 0 $orange;
          }

          &:active {
            box-shadow: 0px 0px 20px 0 $orange;
            background-color: $orange;
          }
        }

        .notes-cards-buttons-remove {
          background: url(../img/button-remove@2x.png) center center no-repeat;
          background-size: 40%;
        }

        .notes-cards-buttons-download {
          background: url(../img/download@2x.png) center center no-repeat;
          background-size: 40%;
        }
      }
    }


    .supplier-cards {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .supplier-cards-l1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .supplier-name {
        font-weight: 700;
        text-transform: uppercase;
        word-break: break-word;
      }


      .text-red {
        color: red;
      }

      .supplier-cards-l2 {
        color: #A3A3A3;
      }

      .supplier-cards-l3,
      .supplier-cards-l4,
      .supplier-cards-l5 {
        font-weight: 700;
      }

      .supplier-cards-l3 {
        text-decoration: underline;
      }

      .supplier-cards-l5 {
        span {
          display: block;
        }
      }
    }

    .friends {
      display: flex;

      .photo-name {
        width: 25%;

        span {
          font-size: 10px;
          text-align: center;
          line-height: 10px;
        }
      }
    }

    .like-box {
      display: flex;
      justify-content: flex-end;

      .like-img {
        width: 26px;
        height: 26px;
        background: url("../img/favorite-heart-button-0@2x.png") center center no-repeat;
        background-size: contain;
        @include animation;
      }

      .like-img.active,
      .like-img:active,
      .like-img:hover {
        background: url("../img/favorite-heart-button-1@2x.png") center center no-repeat;
        background-size: contain;
      }
    }


  }

  .new-user-img {
    width: 68px;
    height: 68px;
    margin: 20px auto;
  }

  .supplier-filter {
    display: flex;

    .search-input {
      width: calc(100% - 100px);
      margin: 0;
    }
  }

  .search-button {
    background: url(../img/search@2x.png) center center no-repeat $orange;
    background-size: 40%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 13px 0 $orange;
    margin: 0 10px;
  }

  .filter-button {
    background: url(../img/filter@2x.png) center center no-repeat $white;
    background-size: 40%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0 rgba($color: #000000, $alpha: .20)

  }

  .see-all {
    width: 60px;
    font-size: 10px;
  }

  .form-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  .form-sub-title {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }

  .refcat-block {
    display: flex;
    justify-content: space-between;
    padding-left: 0;

    li {
      display: block;
      font-size: 16px;
    }
  }

  .refs-filter {
    display: flex;
    align-items: center;
    justify-content: center;

    .search-input {
      width: 60%;
    }
  }

  .onepost.refs {
    .onepost-title {
      text-align: center;
    }

    .onepost-sub-title {
      color: #B2B2B2;
      font-size: 14px;
      text-align: center;
    }

    p {
      margin: 20px 0;
    }
  }
}

body a {
  color: $grey;
  @include animation;
}

body a:hover {
  color: $orange;
}

.button-orange,
.button-white {
  border-radius: 10px;
  width: 100%;
  border: none;
  text-align: center;
  padding: 5px;

}

.button-orange {
  background: $orange;
  color: $white;
  box-shadow: 0px 0px 13px 0 $orange;
  @include animation;

  &:active {
    box-shadow: 0px 0px 20px 0 $orange;
  }
}

.button-white {
  background: $white;
  color: $grey;
  @include animation;

  &.big {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
  }

  .black {
    color: $black;
  }


  &.big.active{
    background: $orange;
    color: $white;
    box-shadow: 0px 10px 10px 0 rgba($color: #EE7D11, $alpha: .70);
  }



  &:active {
    box-shadow: 0px 0px 20px 0 $grey;
  }
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  background-color: $white;
  border: none;
  text-align: center;
  padding: 10px 5px;
  margin: 10px 0;
  @include shadow(0.2);
  @include animation;

  &:active {
    @include shadow(0.9);
  }

  &:focus {
    @include shadow(0.6);
  }
}


input:focus:invalid {
  border: 2px solid #7c7c7c;
}

input:focus:valid {
  border: 2px solid green;
}

input:valid {
  border: 2px solid #ccc;
}

input:invalid:not(:focus):not(:placeholder-shown) {
  background: pink;
   border: 2px solid red;
}



textarea {
  height: 290px;
  resize: none;
}

input {
  &.enter[type=submit],
  &.save[type=submit] {
    @extend .button-orange;
  }
}


.custom-input-file {


  .inputfile-4 {
    opacity: 0;
    display: none;
    //overflow: hidden;
    //position: absolute;
    //z-index: -1;
  }

  .inputfile {
    & + label {
      max-width: 80%;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      padding: 0;
      display: block;
      margin: 0 auto;

      * {
      }

      svg {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em;
      }
    }
  }

  .no-js {
    .inputfile {
      & + label {
        display: none;
      }
    }
  }

  .inputfile:focus + label,
  .inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

  .inputfile-4 {
    & + label {
      color: $orange;

      figure {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        background-color: $white;
        display: block;
        padding: 20px;
        margin: 10px auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .inputfile-4:focus + label,
  .inputfile-4.has-focus + label,
  .inputfile-4 + label:hover {
    color: $orange;
    text-align: center;
    outline: none;
  }

  .inputfile-4:focus + label figure,
  .inputfile-4.has-focus + label figure,
  .inputfile-4 + label:hover figure {
    background-color: $orange;
    outline: none;
  }


}

#filters {
  padding: 20px 40px;

  .filterName {
    font-size: 16px;
    font-weight: 700;
    color: $black;
    border-bottom: 2px solid #ccc;
    margin: 10px 0;
    padding: 10px 0;
  }

  .filters-list {
    padding-left: 0;

    li {
      list-style: none;
      cursor: pointer;
      border-bottom: 2px solid #eaeaea;
      margin: 5px 0;
      padding: 5px 0;
    }
  }
}

#reservation-1 {

  textarea {
    height: 90px;
    resize: none;
    background-color: #f0f0f0;
  }


}


.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 25px;
    height: 25px;
    background: $white;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    position: relative;
    top: -4px;
  }


  // Box hover
  //&:hover + label:before {
  //  background: $orange;
  //}

  // Box focus
  &:focus + label:before {
    //box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $orange;
    border: 1px solid $orange;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white,
    4px 0 0 white,
    4px -2px 0 white,
    4px -4px 0 white,
    4px -6px 0 white,
    4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.accordion {

  .transition, div, ul li i:before, ul li i:after {
    transition: all 0.25s ease-in-out;
  }

  .flipIn, h1, ul li {
    animation: flipdown 0.5s ease both;
  }

  .no-select, h2 {
    user-select: none;
    margin-top: 10px;
  }

  ul {
    list-style: none;
    perspective: 900px;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding: 0;
      margin: 0;
      padding-bottom: 4px;
      padding-top: 18px;
      border-top: 1px dotted #dce7eb;

      &:nth-of-type(1) {
        animation-delay: 0.5s;
      }

      &:nth-of-type(2) {
        animation-delay: 0.75s;
      }

      &:nth-of-type(3) {
        animation-delay: 1s;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        right: 0;

        &:before {
          transform: translate(-2px, 0) rotate(45deg);
        }

        &:after {
          transform: translate(2px, 0) rotate(-45deg);
        }
      }

      input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
      }

      input[type=checkbox]:checked {
        & ~ div {
          margin-top: 0;
          max-height: 0;
          opacity: 0;
          transform: translate(0, 50%);
        }

        & ~ i {
          &:before {
            transform: translate(2px, 0) rotate(45deg);
          }

          &:after {
            transform: translate(-2px, 0) rotate(-45deg);
          }
        }
      }
    }
  }

  ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: #ff6873;
    width: 3px;
    height: 9px;
  }

  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }


}


.editor {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;

  .editor-button-out button {
    text-align: center;
    line-height: 46px;
    border-radius: 5px;
    width: 46px;
    height: 46px;
    font-size: 16px;
    @include animation;
    background: $white;
    text-transform: uppercase;
    margin: 0 5px;
    @include shadow(0.2);

    &.editor-button-ital {
      font-style: italic
    }

    &.editor-button-bold {
      font-weight: 700;
    }

    &.active-button,
    &:hover {
      color: $orange;
      box-shadow: 0px 0px 20px 0 $orange;
    }

    &:active {
      color: $white;
      box-shadow: 0px 0px 20px 0 $orange;
      background: $orange;
    }
  }


}


#header {
  background: $white;
  padding: 8px 0;
  box-shadow: 0px 10px 20px 0 rgba($color: #000000, $alpha: .10);
  height: 45px;


  .header-txt {
    display: flex;
    position: fixed;
    z-index: 20;
    left: 10px;
    top: 10px;
    width: 80px;
  }

  .header-txt-l,
  .header-txt-r {
    font-size: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 1%;
    text-align: center;
    width: 50%;
  }

  .header-txt-l {
    border-right: 1px solid $grey;
  }


  .header-logo {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    left: calc(50% - 20px);
    top: 10px;
    z-index: 20;
  }

  .header-menu {
    #burger {
      opacity: 0;
    }

    input + label {
      position: fixed;
      top: 15px;
      right: 20px;
      height: 15px;
      width: 25px;
      z-index: 5;

      span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: calc(50% - 1px);
        margin-top: -1px;
        left: 0;
        display: block;
        background: $grey;
        transition: .5s;
      }

      span:first-child {
        top: 0px;
      }

      span:last-child {
        top: auto;
        bottom: 0;
      }
    }

    label:hover {
      cursor: pointer;
    }


    input:checked + label {
      span {
        opacity: 0;
        top: 50%;
      }

      span:first-child {
        opacity: 1;
        transform: rotate(405deg);
      }

      span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
      }
    }


    input ~ nav {
      background: rgba(255, 255, 255, .99);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      z-index: 3;
      transition: .5s;
      transition-delay: .5s;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;

      > ul {
        text-align: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin-bottom: 0;
        padding-left: 0;

        > li {
          opacity: 0;
          transition: .5s;
          transition-delay: 0s;

          > a {
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            font-weight: 700;
            display: block;
            padding: 10px;
            @include animation;

            &:hover,
            &:active {
              color: $orange;
            }
          }
        }

      }

      .sign-out {
        display: inline-block;
        width: auto;
        font-size: 10px;
        margin: 40px auto 0;
        border: 2px solid $orange;
        background: $white;
        color: $orange;
        font-weight: 700;
        @include shadow(0.6);
        box-shadow: 0px 0px 10px 0 $orange;
        border-radius: 20px;
        padding: 5px 10px;
        @include animation;
        opacity: 0;
        transition: 0.1s;
      }

      .sign-out:active {
        background: $orange;
        color: $white;
        box-shadow: 0px 0px 15px 0 $orange;
      }
    }


    input:checked ~ .header-txt {
      display: none;
      @include animation;
    }

    input:checked ~ nav {
      height: 100%;
      transition-delay: 0s;

      > ul {
        > li {
          opacity: 1;
          transition-delay: .5s;
        }
      }

      > .sign-out {
        opacity: 1;
        transition-delay: .5s;
      }
    }
  }

  .main-menu ul {
    li {
      margin: 0;
      list-style: none;

    }
  }

}

/*INDEX*/
#index {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  .logo {
    padding: 20px 30px;
    margin: -40px auto 20px;
    background: $white;
    border-radius: 5px;
    @include shadow(0.2);

  }


  .recovery {
    color: $grey;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 40px;
  }
}

.some-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    display: block;
    width: 45%;
  }

}


.reservation-gid {


  .grid-container {
    display: grid;
    grid-template-columns: 20px 1fr 0px 1fr;
    grid-template-rows: repeat(19, 1fr);

    border-radius: 5px;
    height: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding: 10px;
    background: $white;
  }


  .Side-1,
  .Side-2{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    a{
      color: $white;
      display: block;
      text-align: center;

    }
  }

  .Side-1  {
    grid-area: Side-1;
    background: #EE7D11;
    box-shadow: 0px 10px 20px 0 rgba($color: #EE7D11, $alpha: .70);
  }

  .Side-2 {
    grid-area: Side-2;
    background: #1188EE;
    box-shadow: 0px 10px 20px 0 rgba($color: #1188EE, $alpha: .70);
  }

  .h5 {grid-area: h5;}
  .h6 {grid-area: h6;}
  .h7 {grid-area: h7;}
  .h8 {grid-area: h8;}
  .h9 {grid-area: h9;}
  .h10 {grid-area: h10;}
  .h11 {grid-area: h11;}
  .h12 {grid-area: h12;}
  .h13 {grid-area: h13;}
  .h14 {grid-area: h14;}
  .h15 {grid-area: h15;}
  .h16 {grid-area: h16;}
  .h17 {grid-area: h17;}
  .h18 {grid-area: h18;}
  .h19 {grid-area: h19;}
  .h20 {grid-area: h20;}
  .h21 {grid-area: h21;}
  .h22 {grid-area: h22;}
  .h23 {grid-area: h23;}


}

//MEDIA
@media screen and (max-width: 1200px) {
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (min-width: 480px) and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}